In [1]:
%matplotlib inline
import matplotlib as plt
import seaborn as sns
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

### Warmup Question 3, Time Series Analysis:
Based on the attribute ClaimStartDt, analyze the weekly service volume variations.

What are the weekly patterns (weekly seasonalities) you observe for the demands on inpatient or outpatient services?

Identify the top  5  most frequent ClmAdmitDiagnosisCodes and trace their weekly seasonalities. Display the patterns you find.

For the inpatient patients, is there any pattern between the durations of the treatments and the patient attributes?

For the monthly inpatient/outpatient claim counts of all the providers, please analyze the table of provider-month matrices and report any interesting findings.

hint: dataframe's pivot_table method could be used to construct the provider-month matrix.

In [17]:
train_ip = pd.read_csv("../data/train_inpatient.csv", parse_dates=True)
train_op = pd.read_csv("../data/train_outpatient.csv", parse_dates=True)

In [18]:
train_ip.head()

      BeneID   ClaimID ClaimStartDt  ClaimEndDt  Provider  InscClaimAmtReimbursed AttendingPhysician OperatingPhysician OtherPhysician AdmissionDt ClmAdmitDiagnosisCode  DeductibleAmtPaid DischargeDt DiagnosisGroupCode ClmDiagnosisCode_1 ClmDiagnosisCode_2 ClmDiagnosisCode_3 ClmDiagnosisCode_4 ClmDiagnosisCode_5 ClmDiagnosisCode_6 ClmDiagnosisCode_7 ClmDiagnosisCode_8 ClmDiagnosisCode_9 ClmDiagnosisCode_10  ClmProcedureCode_1  ClmProcedureCode_2  ClmProcedureCode_3  ClmProcedureCode_4  ClmProcedureCode_5  ClmProcedureCode_6
0  BENE11001  CLM46614   2009-04-12  2009-04-18  PRV55912                   26000          PHY390922                NaN            NaN  2009-04-12                  7866             1068.0  2009-04-18                201               1970               4019               5853               7843               2768              71590               2724              19889               5849                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN
1  BENE11001  CLM66048   2009-08-31  2009-09-02  PRV55907                    5000          PHY318495          PHY318495            NaN  2009-08-31                  6186             1068.0  2009-09-02                750               6186               2948              56400                NaN                NaN                NaN                NaN                NaN                NaN                 NaN              7092.0                 NaN                 NaN                 NaN                 NaN                 NaN
2  BENE11001  CLM68358   2009-09-17  2009-09-20  PRV56046                    5000          PHY372395                NaN      PHY324689  2009-09-17                 29590             1068.0  2009-09-20                883              29623              30390              71690              34590              V1581              32723                NaN                NaN                NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN
3  BENE11011  CLM38412   2009-02-14  2009-02-22  PRV52405                    5000          PHY369659          PHY392961      PHY349768  2009-02-14                   431             1068.0  2009-02-22                067              43491               2762               7843              32723              V1041               4254              25062              40390               4019                 NaN               331.0                 NaN                 NaN                 NaN                 NaN                 NaN
4  BENE11014  CLM63689   2009-08-13  2009-08-30  PRV56614                   10000          PHY379376          PHY398258            NaN  2009-08-13                 78321             1068.0  2009-08-30                975                042               3051              34400               5856              42732                486               5119              29620              20300                 NaN              3893.0                 NaN                 NaN                 NaN                 NaN                 NaN

In [8]:
train_op.head()

      BeneID    ClaimID ClaimStartDt  ClaimEndDt  Provider  InscClaimAmtReimbursed AttendingPhysician OperatingPhysician OtherPhysician ClmDiagnosisCode_1 ClmDiagnosisCode_2 ClmDiagnosisCode_3 ClmDiagnosisCode_4 ClmDiagnosisCode_5 ClmDiagnosisCode_6 ClmDiagnosisCode_7 ClmDiagnosisCode_8 ClmDiagnosisCode_9 ClmDiagnosisCode_10  ClmProcedureCode_1  ClmProcedureCode_2  ClmProcedureCode_3  ClmProcedureCode_4  ClmProcedureCode_5  ClmProcedureCode_6  DeductibleAmtPaid ClmAdmitDiagnosisCode
0  BENE11002  CLM624349   2009-10-11  2009-10-11  PRV56011                      30          PHY326117                NaN            NaN              78943              V5866              V1272                NaN                NaN                NaN                NaN                NaN                NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                  0                 56409
1  BENE11003  CLM189947   2009-02-12  2009-02-12  PRV57610                      80          PHY362868                NaN            NaN               6115                NaN                NaN                NaN                NaN                NaN                NaN                NaN                NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                  0                 79380
2  BENE11003  CLM438021   2009-06-27  2009-06-27  PRV57595                      10          PHY328821                NaN            NaN               2723                NaN                NaN                NaN                NaN                NaN                NaN                NaN                NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                  0                   NaN
3  BENE11004  CLM121801   2009-01-06  2009-01-06  PRV56011                      40          PHY334319                NaN            NaN              71988                NaN                NaN                NaN                NaN                NaN                NaN                NaN                NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                  0                   NaN
4  BENE11004  CLM150998   2009-01-22  2009-01-22  PRV56011                     200          PHY403831                NaN            NaN              82382              30000              72887               4280               7197              V4577                NaN                NaN                NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                  0                 71947

In [21]:
train_ip['ClaimStartDt'] = pd.to_datetime(train_ip['ClaimStartDt'])
train_ip['ClaimEndDt'] = pd.to_datetime(train_ip['ClaimEndDt'])

In [22]:
train_op['ClaimStartDt'] = pd.to_datetime(train_op['ClaimStartDt'])
train_op['ClaimEndDt'] = pd.to_datetime(train_op['ClaimEndDt'])

In [20]:
train_ip.dtypes

BeneID                     object
ClaimID                    object
ClaimStartDt               object
ClaimEndDt                 object
Provider                   object
InscClaimAmtReimbursed      int64
AttendingPhysician         object
OperatingPhysician         object
OtherPhysician             object
AdmissionDt                object
ClmAdmitDiagnosisCode      object
DeductibleAmtPaid         float64
DischargeDt                object
DiagnosisGroupCode         object
ClmDiagnosisCode_1         object
ClmDiagnosisCode_2         object
ClmDiagnosisCode_3         object
ClmDiagnosisCode_4         object
ClmDiagnosisCode_5         object
ClmDiagnosisCode_6         object
ClmDiagnosisCode_7         object
ClmDiagnosisCode_8         object
ClmDiagnosisCode_9         object
ClmDiagnosisCode_10        object
ClmProcedureCode_1        float64
ClmProcedureCode_2        float64
ClmProcedureCode_3        float64
ClmProcedureCode_4        float64
ClmProcedureCode_5        float64
ClmProcedureCode_6        float64
dtype: object