In [2]:
import pandas as pd

In [5]:
df = pd.read_csv("./data/combinedData.csv")

In [6]:
df.head()

,Unnamed: 0,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,...,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,NumProc,NumDiag,AdmissionDays,ClaimDays,Age
0,0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,...,1,36000,3204,60,70,0,10,7.0,7,66.0
1,1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,...,1,36000,3204,60,70,1,4,3.0,3,67.0
2,2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,...,1,36000,3204,60,70,0,7,4.0,4,67.0
3,3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,...,1,5000,1068,250,320,1,10,9.0,9,95.0
4,4,BENE11011,CLM144521,2009-01-18,2009-01-18,PRV52314,50,PHY379398,NaN,NaN,...,1,5000,1068,250,320,0,6,NaN,1,95.0