In [2]:
%matplotlib inline
import matplotlib as plt
import seaborn as sns
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [3]:
import expectexception

In [4]:
df = pd.read_csv("../data/diagCounts.csv")

In [6]:
df.head()

   Unnamed: 0 DiagCode  Count
0           0     4019  95437
1           1    25000  46471
2           2     2724  44302
3           3    V5869  31013
4           4     4011  29420

In [34]:
def diag_classification(clm):
    if type(clm)==str:
        if (clm[0]=='E'):
            clm=clm[1:]
        elif (clm[0]=='V'):
            clm=clm[1:]
        elif len(clm)==5:
            clm = clm[:4]
    if int(float(clm))<1400:
        return 'infectious'
    elif (int(float(clm))>1400 and int(float(clm))<2400):
        return 'oncology'
    elif (int(float(clm))>2400 and int(float(clm))<2800):
        return 'endocrinology'
    elif (int(float(clm))>2800 and int(float(clm))<2900):
        return 'hematology'
    elif (int(float(clm))>2900 and int(float(clm))<3200):
        return 'psychiatry'
    elif (int(float(clm))>3200 and int(float(clm))<3900):
        return 'neurology'
    elif (int(float(clm))>3900 and int(float(clm))<4600):
        return 'cardiology'
    elif (int(float(clm))>4600 and int(float(clm))<5200):
        return 'pulmonology'
    elif (int(float(clm))>5200 and int(float(clm))<5800):
        return 'gastroenterology'
    elif (int(float(clm))>5800 and int(float(clm))<6300):
        return 'urology'
    elif (int(float(clm))>6300 and int(float(clm))<6800):
        return 'ob-gyn'
    elif (int(float(clm))>6800 and int(float(clm))<7100):
        return 'dermatology'
    elif (int(float(clm))>7100 and int(float(clm))<7400):
        return 'orthopedics'
    elif (int(float(clm))>7400 and int(float(clm))<7600):
        return 'congenital'
    elif (int(float(clm))>7600 and int(float(clm))<7800):
        return 'neonatology'
    elif (int(float(clm))>7800 and int(float(clm))<8000):
        return 'general'
    elif (int(float(clm))>8000 and int(float(clm))<9999):
        return 'emergency'

In [35]:
df["diagnosis"] = df["DiagCode"].apply(lambda x: diag_classification(x))

In [48]:
df.head(10)

   Unnamed: 0 DiagCode  Count      diagnosis
0           0     4019  95437     cardiology
1           1    25000  46471  endocrinology
2           2     2724  44302  endocrinology
3           3    V5869  31013        urology
4           4     4011  29420     cardiology
5           5    42731  24996     cardiology
6           6    V5861  24812        urology
7           7     2720  22605  endocrinology
8           8     2449  21693  endocrinology
9           9     4280  19277     cardiology

In [46]:
df.groupby("diagnosis")["DiagCode"].unique().reset_index()

           diagnosis                                           DiagCode
0         cardiology  [4019, 4011, 42731, 4280, 41401, 41400, V4581,...
1         congenital  [75310, 75612, 7580, 7515, 7455, 75312, 75319,...
2        dermatology  [6826, 70715, 70703, 70719, 70714, 70710, 6929...
3          emergency  [E8889, E8859, 99591, E9289, E8490, 99592, V82...
4      endocrinology  [25000, 2724, 2720, 2449, 2722, 2768, 27651, 2...
5   gastroenterology  [53081, 56210, 56400, 5533, V5789, V5391, 5589...
6            general  [78079, 78650, 7812, 78605, 7823, 78659, 7802,...
7         hematology  [2859, 28521, 2809, 2851, 2875, 28529, 28860, ...
8         infectious  [496, 311, 412, 486, V1254, V103, 185, V1046, ...
9        neonatology  [V7644, V7612, V7651, V7791, V7641, V7611, V76...
10         neurology  [3310, 3320, 33829, 34590, 32723, 3572, 3569, ...
11            ob-gyn  [V6546, V6759, V6751, V6709, V6700, V6701, V65...
12          oncology  [V1582, 1629, 1749, 2113, 1985, 2334, V1588, 1...
13       orthopedics  [73300, 71590, 7242, 7295, 72887, 7245, 71690,...
14        psychiatry  [3051, 2948, 30000, 29410, 3004, 29680, 2989, ...
15       pulmonology  [49390, 49121, 51889, 5119, 51881, 4928, 5180,...
16           urology  [V5869, V5861, 5990, 58881, 5859, V5883, V5866...